//Colors


$SoftBlue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$VeryDarkBlue_1: hsl(217, 54%, 11%);
$VeryDarkBlue_2: hsl(216, 50%, 16%);
$VeryDarkBlue_3: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);
